:root {
  --bg: #070020;
  --primary: #0ea5e9;
  --light: #d3d3d3;
  --disabled: #d4eaff88;
  --accent: #ec38bc;
  --purple: #7303c0;
}

html,
body {
  background: var(--bg);
  color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  min-height: 100vh;
}
::-moz-selection {
  background: var(--light);
  color: var(--primary);
}

::selection {
  background: var(--light);
  color: var(--primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-light {
  color: var(--light);
  padding: 0 0.3em;
}

.github {
  position: absolute;
  inset: 1em 1em auto auto;
  background-color: purple;
  background: url("../public/images/github.png") no-repeat;
  background-size: contain;
  filter: invert() opacity(45%);
  width: 1.2rem;
  height: 1.2rem;
}

.github:hover,
.github:focus {
  filter: invert() opacity(100%);
}

.wrapper {
  display: grid;
  align-content: center;
  margin-inline: auto;
  max-width: 48.75rem;
  height: 100vh;
  background: var(--bg);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

button {
  flex: 1;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 0.2em;
  background: var(--accent);
  color: var(--light);
  padding: 0.9em;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}

button:disabled {
  cursor: not-allowed;
}

button:hover,
button:focus {
  color: var(--primary);
  background-color: transparent;
  box-shadow: 0 0 25px var(--primary), 0 0 5px #222;
}

.flex-header {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  margin: 0;
  padding: 0 1em;
  font-size: clamp(2rem, 8vw, 6rem);
  letter-spacing: -0.02em;
  background: -webkit-linear-gradient(
    -45deg,
    var(--purple),
    var(--accent),
    var(--primary),
    var(--accent),
    var(--purple)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 400%;
  animation: gradient 10s ease infinite;
  font-family: "Bangers", cursive;
  color: var(--primary);
}

.flex-header button.btn-count {
  padding: 1em;
  margin: 0 2em;
  flex: 0;
}

button.btn-count.min {
  background: url("./../public/images/min.png") no-repeat transparent;
  background-size: contain;
  filter: invert(1);
}

button.btn-count.plus {
  background: url("../public/images/plus.png") no-repeat transparent;
  background-size: contain;
  filter: invert(1);
}

.flex-header button.btn-count:hover,
.flex-header button.btn-count:focus {
  box-shadow: 0 0 40px rgb(43, 151, 43);
}

p.subtitle {
  margin-top: 0.8em;
  margin-inline: auto;
  max-width: 50%;
  font-weight: 600;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
}

.textForTyping {
  margin-top: 1.2em;
  margin-bottom: 1.5em;
  margin-inline: auto;
  width: 92%;
  text-align: left;
  font-size: clamp(1rem, calc(2vw + 0.5rem), 1.6rem);
  font-weight: 500;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--light);
}

textarea {
  margin: 0 auto;
  padding: 0.8em;
  background-color: var(--primary);
  /* font-family: "Press Start 2P", cursive; */
  border: none;
  border-radius: 0.4em;
  outline: none;
  width: 90%;
  height: 12.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

textarea:disabled {
  background-color: var(--disabled);
}

textarea::placeholder {
  color: var(--bg);
  opacity: 0.7;
}

.flex {
  margin-inline: auto;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 3.125rem;
  font-weight: 600;
  font-size: 1.2rem;
}

div.score-time p {
  display: inline-block;
  margin-inline: 0.2em;
  font-size: clamp(0.8rem, calc(1vw + 0.2rem), 1.2rem);
  font-weight: 500;
}

button.btn {
  padding: 0.9em 1em;
  margin-top: 1em;
  margin-inline: 0.8em;
  display: inline-block;
  background-color: var(--accent);
  color: var(--light);
  flex: 0 1 9.5rem;
  flex-wrap: no-wrap;
}

button.btn:hover,
button.btn:focus {
  border-radius: 100vh;
  background-color: var(--primary);
}
